<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rossc.appofshame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name="com.example.rossc.appofshame.LaunchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rossc.appofshame.SetupActivity"
            android:label="LABEL" />
        <activity
            android:name="com.example.rossc.appofshame.MainActivity"
            android:label="LABEL" />

        <uses-feature android:name="android.hardware.camera.any" />
        <uses-feature
            android:name="android.hardware.camera"
            android:required="false" />
        <uses-feature android:name="android.hardware.camera.autofocus" />
        <uses-feature android:name="android.hardware.camera.flash" />

        <activity android:name=".SobrietyVerification" />
        <activity android:name=".ChatWindow" />
        <activity android:name=".TestPage"></activity>
    </application>

</manifest>